.regselect_arrow
{
    background: transparent url("/images/arrdown.gif") no-repeat scroll 0px 0px;
    width: 5px;
    height: 7px;
    margin-left: 1px;
    display: inline-block;
}

#region_change
{
    position: absolute;
    margin-top: 2px;
    background-color: #fff;
    border: #ccc solid 1px;
    float: right;
    clear: both;
    padding: 5px;
    visibility: hidden;
}

.filterselect
{
    border: 1px solid #A4A4A4;
    min-height: 14px;
    background-color: #FFF;
    border-radius: 2px;
    margin: 0px;
    padding: 4px;
}

.baralink
{
    color: #008cc3;
    text-decoration: none;
    font-size: 12px;
}

.baralink_plus
{
    color: #008cc3;
    text-decoration: none;
    font-size: 13px;
}

a.hoverunderline
{
    color: #008cc3;
    text-decoration: none;
}
a:hover.hoverunderline
{
    text-decoration: underline;
}

.notcount
{
    color: #aaaaaa;
    font-size: 13px;
    margin-right: 10px;
}

.f11
{
    font-size: 11px;
}

.f12b
{
    font-size: 12px; font-weight: bold;
}

.not_text
{
    border-left: #999 solid 1px;
}

.not_act
{
    border-left: #999 solid 1px;
}

.not_ver
{
    border-left: #999 solid 1px;
}

.not_del
{
    border-left: #999 solid 1px;
}

.not_delplus
{
    border-left: #999 solid 1px;
}

tr.trbotline td
{
    border-bottom: #999 solid 1px;
}

.not_rub
{
    float: right;
    font-size: 11px;
}

.not_title
{
    font-size: 11px; color: #000099; font-weight: bold;
}

.not_desc
{
    font-size: 11px; margin-top: 5px;
}

.imgnot_act, .imgnot_ver, .imgnot_del, .imgnot_delplus
{
    cursor: pointer;
}

.span_btn
{
    color:#008CC3; padding: 6px 10px; border-radius: 16px; border: #008CC3 solid 1px; background-color: #F5FAFD;
    text-decoration: #008CC3 dotted underline; cursor: pointer;
}

.span_lnk
{
    color:#008CC3; padding: 6px 0px; border-radius: 0px; border: #008CC3 solid 0px; _background-color: #F5FAFD;
    cursor: pointer; text-decoration: none;
}

.favoritstar
{

}

.colphoto
{
    width: 20px; height: 16px;
    background-color: #000;
    /*background-image: url('/images/photoapp.png');*/
    color: #fff; font-size: 12px; font-weight: bold; position: absolute; bottom: 2px; right: 2px;
}

.colphoto div
{
    padding: 1px 0px 0px 0px;
}











.baramenu
{
    color: #008cc3;
    text-decoration: none;
    font-size: 12px;
    text-align: right;
}


ul#menu_goriz {
    /*width:100%;*/
    margin: 0;
    padding: 0;
    list-style: none;
    background: #fff;
    height: 30px;
    font: normal 12px Verdana, Arial;
    text-align: center;
    z-index: 1100;
    width: 157px;
    display: inline;
}

ul#menu_goriz li {
    border: 0 none;
    padding: 0;
    /*float: right;*/
    display: inline;
    list-style: none;
    position: relative;
    width:157px;
    z-index: 1100;
    border:  #000020 solid 0px;
    margin-top: 0px;
    font-weight: normal;
    font-family: Arial;
    cursor: pointer;
}

ul#menu_goriz ul {
    margin: 0;
    border: 0 none;
    padding: 0;
    width: 157px;
    list-style: none;
    display: none;
    position: absolute;
    top: 19px;
    left: -19px;
    z-index: 1100;
    border: #000099 solid 0px;
    box-shadow: 0 0 5px;
}

ul#menu_goriz ul li {
    width: 157px;
    float: left;
    display: block !important;
    display: inline;
    margin: 0;
    z-index: 1100;
    text-align: center;
}

/* Main Menu */
ul#menu_goriz a {
    border: 0px;
    padding: 0px;
    float: none !important;
    float: left;
    display: block;
    /*background: #228B22;*/
    background: #fff;
    /*color: 	#fff;*/
    color: 	#008CC3;
    font: normal 13px/30px Verdana, Arial;
    text-decoration: none;
    height: auto !important;
    height: 1%;
}

/* Main Menu */
ul#menu_goriz a {
    border: 0px;
    padding: 0px;
    float: none !important;
    float: left;
    display: block;
    background: #fff;
    color: 	#008CC3;
    font: normal 13px/30px Verdana, Arial;
    text-decoration: none;
    height: auto !important;
    height: 1%;
}

#menu_goriz  li a:hover {color:#fff;background:#008CC3;}

/* Second Menu Hover */
ul#menu_goriz li:hover li a:hover,
ul#menu_goriz li:hover li:hover a,
ul#menu_goriz li.iehover li a:hover,
ul#menu_goriz li.iehover li.iehover a {
    /*border-top: 2px solid #FFFFFF;*/
    color:#fff;
}


ul#menu_goriz ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 157px;
}

ul#menu_goriz li:hover ul ul,
ul#menu_goriz li.iehover ul ul {
    display: none;
}

ul#menu_goriz li:hover ul,
ul#menu_goriz ul li:hover ul,
ul#menu_goriz li.iehover ul,
ul#menu_goriz ul li.iehover ul {
    display: block;
    margin: 0;
}


#usermenuemail:hover
{
    color: #09f;

}

.range_selector
{
    width: 216px; height: 21px; border: #aaa solid 1px; border-radius: 2px;
    background-color: #fff; margin-top: 1px;
}

.range_selector span
{
    float: left; padding-left: 7px; margin-top: 2px;
}
.range_selector i
{
    float: right;
    width: 16px; height: 16px; display: block; box-shadow: none;border-color: transparent;
    margin-top: 2px; margin-right: 6px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3wMdBhAJ/fwnjwAAAGFJREFUKM9jYBh+gBFKuzEwMKQwMDB8xaOWlYGB4T4DA0MrsuapDAwM//HgNwwMDDbYTJuGQ8MHBgYGJ1xOYGNgYJiBpuEpAwODHSF/siDZ+ISBgcGClEDqZ2Bg8B6CkQsAPRga0cpRtDEAAAAASUVORK5CYII=');
    background-repeat: no-repeat;background-position: center center;
}

.range_selector:hover
{
    box-shadow: 0px 0px 2px #7799D0;border-color: #7799D0;
}

.forpolzun
{
    display: none;
}

.div_polzun
{
    position: absolute; margin-left: -15px; background-color: #fff; border: #999 solid 1px;
    padding: 15px; padding-left: 30px; padding-right: 30px; box-shadow: 0px 0px 4px #999; z-index: 1;

}