.regselect_arrow
{
    background: transparent url("/images/arrdown.gif") no-repeat scroll 0px 0px;
    width: 5px;
    height: 7px;
    margin-left: 1px;
    display: inline-block;
}

#region_change
{
    position: absolute;
    margin-top: 2px;
    background-color: #fff;
    border: #ccc solid 1px;
    float: right;
    clear: both;
    padding: 5px;
    visibility: hidden;
}

.filterselect
{
    border: 1px solid #A4A4A4;
    min-height: 14px;
    background-color: #FFF;
    border-radius: 2px;
    margin: 0px;
    padding: 4px;
}

.baralink
{
    color: #008cc3;
    text-decoration: none;
    font-size: 12px;
}

.baralink_plus
{
    color: #008cc3;
    text-decoration: none;
    font-size: 13px;
}

a.hoverunderline
{
    color: #008cc3;
    text-decoration: none;
}
a:hover.hoverunderline
{
    text-decoration: underline;
}

.notcount
{
    color: #aaaaaa;
    font-size: 13px;
}

.f11
{
    font-size: 11px;
}

.f12b
{
    font-size: 12px; font-weight: bold;
}

.not_text
{
    border-left: #999 solid 1px;
}

.not_act
{
    border-left: #999 solid 1px;
}

.not_ver
{
    border-left: #999 solid 1px;
}

.not_del
{
    border-left: #999 solid 1px;
}

.not_delplus
{
    border-left: #999 solid 1px;
}

tr.trbotline td
{
    border-bottom: #999 solid 1px;
}

.not_rub
{
    float: right;
    font-size: 11px;
}

.not_title
{
    font-size: 11px; color: #000099; font-weight: bold;
}

.not_desc
{
    font-size: 11px; margin-top: 5px;
}

.imgnot_act, .imgnot_ver, .imgnot_del, .imgnot_delplus
{
    cursor: pointer;
}

.span_btn
{
    color:#008CC3; padding: 6px 10px; border-radius: 16px; border: #008CC3 solid 1px; background-color: #F5FAFD;
    text-decoration: #008CC3 dotted underline; cursor: pointer;
}

.span_lnk
{
    color:#008CC3; padding: 6px 0px; border-radius: 0px; border: #008CC3 solid 0px; _background-color: #F5FAFD;
    cursor: pointer; text-decoration: none;
}

.favoritstar
{

}

.colphoto
{
    width: 20px; height: 16px;
    background-color: #000;
    /*background-image: url('/images/photoapp.png');*/
    color: #fff; font-size: 12px; font-weight: bold; position: absolute; bottom: 2px; right: 2px;
}

.colphoto div
{
    padding: 1px 0px 0px 0px;
}