AddDefaultCharset utf-8

RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

ErrorDocument 401 http://dup.ru
ErrorDocument 403 http://dup.ru
ErrorDocument 404 http://dup.ru
ErrorDocument 500 http://dup.ru

